{% extends "MusicDownload/base.html" %}

{% block genrelist %}

<h1>{{ genre_name }}</h1>
<div>
{% for track in genre_track_list.iterator %}
      
          {% if forloop.counter0|divisibleby:'3' %}
          {% if forloop.counter0 != 0 %}
              </div>
          {% endif %}
          <div class = "row ">
          {% endif %}
          
           <div style = " padding:10px; margin:10px; background-color: #808080; height: 130px;" class = "col-md-3 bg-dark" >
              <img class = "img-fluid rounded h-100" src=" {{ track.track_image.url }}" %}" height = 100px width=100px>
              <a style = "color: white; letter-spacing: 1px; font-family: Times New Roman;  font-size: 150%;" href = "/track/{{track.pk}}" >{{track.track_name}}</a>
           </div>
          
      {% endfor %}
      {% if not all_tracks.count|divisibleby:'3' %}
          </div>
      {%endif%}
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}