{% extends "MusicDownload/base.html" %}

{% block tracklist %}

    <h1>ALL TRACKS</h1>

    {% for track in all_tracks.iterator %}
    
        {% if forloop.counter0|divisibleby:'3' %}
        {% if forloop.counter0 != 0 %}
            </div>
        {% endif %}
        <div class = "row ">
        {% endif %}
        
	       <div style = "border-style: groove; padding:10px; margin:10px; background-color: black; height:120px;"class = "col-md-3">
                <img class = "img-fluid rounded h-100" src=" {{ track.track_image.url }}" %}" height = 100px width=100px>
                <a style = "color: white; letter-spacing: 1px; font-family: Times New Roman;  font-size: 150%; padding-left:50px" href = "/track/{{track.pk}}" >{{track.track_name}}</a>
                <h4 style = "color: white; letter-spacing: 1px; font-family: Times New Roman; font-size: 150%; padding-left:50px">{{track.track_genre}}</h4>
	       </div>
        
    {% endfor %}
    {% if not all_tracks.count|divisibleby:'3' %}
        </div>
    {%endif%}
{% endblock %}
