{% extends "MusicDownload/base.html" %}
{% block track %}
	
	<div class="container">
		<table class="table table-dark table-hover" style="width: 90%">
   		<tbody>
		<tr>
			<td style="column-span: 2;align-content: center;"><img class="img-fluid rounded" src="../../media/{{selected_track.track_image}}" alt="" border="3"></td>
		</tr>
      	<tr>
      		<td style="padding-right: 150px;text-align: center;"><strong>Track Name </strong></td>
        	<td style="padding-right: 150px;text-align: center;"><strong>{{selected_track.track_name}}</strong></td>
    	</tr>
    	<tr>
    		<td style="padding-right: 150px;text-align: center;"><strong>Artist </strong></td>
        	<td style="padding-right: 150px;text-align: center;"><strong>{{selected_track.track_artist}}</strong></td>
    	</tr>
    	<tr>
    		<td style="padding-right: 150px;text-align: center;"><strong>Album </strong></td>
       		<td style="padding-right: 150px;text-align: center;"><strong>{{selected_track.track_album}}</strong></td>
    	</tr>
    	<tr>
    		<td style="padding-right: 150px;text-align: center;"><strong>Length </strong></td>
        	<td style="padding-right: 150px;text-align: center;"><strong>{{selected_track.track_length}}</strong></td>
    	</tr>
    	<tr>
    		<td style="padding-right: 150px;text-align: center;"><strong>Genre </strong></td>
        	<td style="padding-right: 150px;text-align: center;"><strong>{{selected_track.track_genre}}</strong></td>
    	</tr>
    	<tr>
    		<td style="padding-right: 150px;text-align: center;"><strong>Language </strong></td>
        	<td style="padding-right: 150px;text-align: center;"><strong>{{selected_track.track_language}}</strong></td>
    	</tr>
    	<tr>
    		<td style="padding-right: 150px;text-align: center;"><strong>Track Number</strong> </td>
        	<td style="padding-right: 150px;text-align: center;"><strong>{{selected_track.track_number}}</strong></td>
    	</tr>
    	<tr>
    		<td><form style="padding-right: 150px;text-align: center;" action="/stream/{{ selected_track.pk }}" method="GET">
            <input id="submit" type="submit" value="Stream" class="btn btn-primary btn-lg">
        </form></td>
    		<td><form style="padding-right: 150px;text-align: center;" action="/download/{{ selected_track.pk }}" method="GET">
    		<input id="submit" type="submit" value="Download" class="btn btn-primary btn-lg">
		</form></td>
    	</tr>
		</tbody>
  		</table>
	</div>	
{% endblock %}
